.banner-hero {
  background-color: #fff;
  width: 100%;
  height: 480px;
  position: absolute;
}
.hero-content-wrapper {
  width: 100%;
  height: 440px;
}
#hero-header-text {
  color: black;
  font-size: 32px;
  height 480px;
}
.hero-background-photo{
  background-color: #fff;
  background-image: url(https://mario.nintendo.com/assets/img/home/intro/mario-pose2.png);
  width: 20%;
  height: 450px;
  position: absolute;
  right: 80%;
  height: -webkit-fill-available; 
  box-sizing: border-box;
  padding: 1%;
  
}
.hero-header-option-1{
  background-color: ;
  width: 40%;
  height: -webkit-fill-available;
  position: absolute;
  right: 40%;
  height 480px; 
  box-sizing: border-box;
  padding: 1%;
  z-index: 2;
}
.hero-header-option-2{
  background-color: #fff;
  width: 40%;
  height: -webkit-fill-available;
  position: absolute;
  right: 0%;
  height 480px;
  box-sizing: border-box;
  padding: 1%;
  z-index: 2;
}
#hero-option-1-header-text{
  font-size: 32px;
  z-index: 2;
}
#hero-option-2-header-text{
  font-size: 32px;
  z-index: 2;
}
.button-hero-wrapper{
  position: absolute;
  top: 440px;
  right: 30px;
}
.fullframe-video {
    overflow: hidden;
    z-index: -100;
    position: absolute;
    width: 95%;
    height: 92%;
    
}
